A:link { text-decoration: none; color: #0047AB;}
A:visited { text-decoration: none; color: #0047AB; }
A:hover { text-decoration: underline; color: #0047AB; }
A:active { text-decoration: underline; color: #75B2DD; }

body {
	color: black; 
	font-family: Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 1em;
	background-color:#e6e6e6;
}



/* Navigationsleisten */

div#Language {
	position:absolute;
	z-index: 100;
	float:left;
	margin-left: 90%;
	text-align: right;
}
div#Language a {
text-decoration: none; 
	color: #0047AB; 
	font-size: 0.9em;
}

div#Language a:hover { 
	text-decoration: underline; 
	color: #0047AB; 
	font-size: 0.9em;
}

div#Headline {
	clear: left;
	margin-bottom:4px;
}

div#Headline h1 {
	text-align: center;

}

div#Headline td#Impressum  {
	font-size: 0.7em;
	text-align: center;
}

div#Headline p {
	font-size: 0.8em;
	padding-left: 1em;
	padding-right:1em;

}

div#Headline div#EU {
	float: right;
	font-size: 0.8em;
	padding-left: 1em;
	padding-right:1em;
}


 
 div#Seite {
  float:left;
  
  width: 128px;
 
  }		
  
 div#Seite ul#Navigation li {
    list-style: none;
  
     padding: 0;
  }
   div#Seite ul#Navigation li#First {
    list-style: none;
     padding: 0;
  }

  div#Seite ul#Navigation a {
  
    height:20px;
    width: 108px;
    

    padding: 4px;
    text-decoration: none; font-weight: bold;
    border: 1px solid black;
    border-left-color: #EBC1DA; border-top-color: #EBC1DA;
    color: white; background-color: #522D80;
  }
  
  div#Seite ul#Navigation a:hover  {
    border-color: white;
    border-left-color: black; border-top-color: black;
    color: white; background-color: #E0B0FF;
  }

  div#Overline {
   /*	margin-left: 80;
	width: 47.1em; */
	clear: both;
	height: 20px;
    padding: 0;
    background-color:  #0047AB;
  }

  div#Rahmen {
  margin-left: 140px;
	 /*	width: 47.1em; */
    padding: 4px;

  }



  div#Rahmen div {
     clear: left;
  }
  ul#Navigation {
    margin: 0; padding: 0;
    text-align: center;
  }

  ul#Navigation li {
    list-style: none;
    float: left;  /* ohne width - nach CSS 2.1 erlaubt */
    position: relative;
    margin: 0.4em; padding: 0;
  }

  ul#Navigation li ul {
    margin: 0; padding: 0;
    position: absolute;
    top: 24px; left: -0.4em;
    display: none;  /* Unternavigation ausblenden */
  }


  ul#Navigation li:hover ul {
    display: block;  /* Unternavigation in modernen Browsern einblenden */
  }
  ul#Navigation li ul li {
    float: none;
    display: block;
    margin-bottom: 0.2em;
	font-size: 0.85em;
  }

  ul#Navigation a, ul#Navigation span {
    display: block;
    /* Breite den in li enthaltenen Elementen zuweisen */
    min-width: 80px;
    vertical-align: middle;
    padding: 0.2em 1em;
    text-decoration: none; font-weight: bold;
    border: 1px solid black;
    border-left-color: #EBC1DA; border-top-color: #EBC1DA;
    color: white; background-color: #522D80;
  }

  ul#Navigation a:hover, ul#Navigation span, li a#aktuell   {
    border-color: white;
    border-left-color: black; border-top-color: black;
    color: white; background-color: #E0B0FF;
  }






  div#Text {
	min-width:60%;
	min-height:85%;
	margin-bottom: 20px;
	
}

div#Text table {
	height: 100%;
	width:100%;
	
}

div#Text td#links {
	width:130px;
vertical-align: top;
	background-color: #0047AB;
}

/* Hier ist der Bereich für den variablen Teil des Toolkits */

div#Text td#Inhalt {
	border: 1px solid #0047AB;
    /*vertical-align: top;*/
	background-color: white;
}

/* removed for clarity reasons */
div#Text td#Inhalt h1 {
    /*font-size: 1.2em;*/

}

div#Text td#Inhalt h2 {
    /*font-size: 1em;*/

}
div#Text td#Inhalt p {
    /*font-size: 0.9em;*/
}


/* Allgemeine Textgestalltung */

.description {
	font-size: 0.9em;
	padding: 1em;
}

div#Ueberschrift {	
  /*margin: 0;*/
  padding: 1em;
  background: white;
}
div#Ueberschrift h1 {
	font-size: 1.2em;

}
div#Ueberschrift h2 {
	font-size: 1em;

}
div#Ueberschrift p {
	
	margin-right:1em;
	font-size: 0.9em;

}
div#Ueberschrift ul {
	font-size: 0.9em
}

div#Ueberschrift  ol {
	font-size: 0.9em
}

/*div#Ueberschrift * ul {
	font-size: 1em
}*/

div#Ueberschrift table {
	font-size: 0.9em
}

div#Eingabe2 {
 width: 98%; 
 padding: 1em; 
 float:left;

}


div#Eingabe {
	float:left;
	font-size: 0.9em;
	background-color: lightgrey;
	padding: 1em;
}

form {
	padding-top: 1em;
}

.formDiv {
	clear: both;
	/*width: 100%;*/
	padding: 1em;
	margin: 0 1em 1em 0;
	font-size: 0.9em;
	background-color: lightgrey;
}

div#info {
  float: left;
  width: 620px;
  background: #e6e6e6;
  padding: 1em;
  margin: 0 1em;
	
}
div#info p {
	font-size: 0.9em;

}

div#info h2 {
	font-size: 1em;

}

div#info a {
	font-size: 1em;
}
div#info span {
	margin: 0 0 1em;
	text-align: justify;

}
div#info ul {
	font-size: 0.9em
}

table#resultSummary {
	/*border: 1px solid black;*/
	width: 620px;
	font-size: 0.9em;
}

table#resultSummary tr:hover {
	background-color: lightblue;
}

div#Ergebnis {	
  clear: left;
  font-size: 1em;
  margin-bottom: 1em;	
  padding: 1em 1em;
  background: white;
}
div#Ergebnis p {
	margin: 0 0 1em;
}

div#Ergebnis span {
	margin: 0 0 1em;
}

div#Ergebnis li {
	font-size: 1em
}

div#Ergebnis table.Leatable {
	width: 75%;
}


tr#tablehead {
	text-align: center;  
	background: #0047AB; 
	color:white;
}



tr#tabellenzeile:hover { 

	background: lightblue; 
	border:4px solid lightblue; 
	}


div#Legende {
	margin:1em;
	margin-left: 20%;
	float:center;
	font-size: 1em;
	padding: 10px;
	width: 30%;
	background: white;
	border: 1px solid #0047AB;
	text-align:center;
	
}

div#Legende span.Legendenelement {
	padding: 1em;
}

div#Errormessage {
  font-size: 1em;
  padding: 1em;
	background: #e6e6e6;
}

div#Errormessage span {
  text-align:center;
  font-weight: 600; 
  font-size:1em;
  margin: 1em 0;
}

div#Disclaimer {
	clear:both;
	margin-bottom: 1em;
	padding: 1em 1em;
	font-size: 0.8em;
	font-style: italic;
	
}

.image {
	border: 1px solid #CCC;
	padding: 2px;
	text-align: center;
}

.imageDescription {
	text-align: center;
	font-size: 0.8em !important;
}

/* Spezielle Formate */

/* Für Erklärungseiten */
div#Description {
	width: 50%;
}

div#Lizenz {
	margin: 1em;
	padding: 1em;
	
	font-size: 0.8em;
	border: 1px dashed silver;	
}

/* Feedback Form */
#dialog-feedback label { display: block; font-size: 0.8em; }
#dialog-feedback input, textarea { width: 300px; margin-bottom: 5px; font-size: 0.8em !important; }
#dialog-feedback textarea { height: 140px; }

/* Downloads */
.downloads { font-size: 0.9em; margin: 1em; }
table.downloads td, table.downloads th { background-color: #E6E6E6; padding: 4px; margin: 4px; }
.dl-name { width: 200px; }
.dl-size { width: 70px; text-align: center; }
.dl-desc { width: 400px; }


/* Nur ChangeDetector */

/* Change Detector Erweiterte Einstellungen */

div#AdvancedSearch {
	display: none;
	float:right; 
	margin-left: 1em; 
	padding: 1em;	  	
	border: 1px dashed silver;
}

div#AdvancedSearch a {
	cursor: pointer;
	font-size: 0.9em;
	margin-left:1em;
	color: #0047AB;
	text-decoration: underline;

}


div#AdvancedSearch ul li {
	font-size: 0.9em;
	padding-right: 0.5em;
	padding-top: 0.5em;	
}

div#AdvancedSearch ul li ul {
	
	list-style: none;
	font-size: 0.9em;
	padding-right: 0.5em;
	list-style-type: none;	
}


div#AdvancedSearch ul li ul li {
	float: left;
	list-style: none;
	position: relative;
	font-size: 0.9em;
	padding-left: 0em;
	padding-right: 0.5em;
	padding-bottom: 0.25em;
	list-style-type: none;	
}

a#AdvancedSetting {
	cursor: pointer;
	color: #0047AB;
	text-decoration: underline;
}

.cdResult {
	font-size: 0.9em;
}

.cdDetailedResult {

}


/* NUR LEA */

/* Example of result output */
.leaDescription {
	width: 50%;
	float: left;
}

/* LEA Piechart */

div#chart {
	float: left;
	font-size: 0.7em;
	padding: 4px;
	margin-left: 1em;
	background: white;
	border: 1px solid #0047AB;
/*
	width: 208px;
	height: 268px;
*/
	overflow: hidden;

}

div#chart h3 {
	text-align:center;
	
}

div#chart img {
	height: 260px;

}

.resultTable { 
	padding: 0px;
	font-family: Tahoma, sans-serif;
	font-size: 0.9em;
}

table.resultTable th {
	border: 1px solid #CFCFCF;
	padding: 1px;
	white-space: nowrap;
	text-align: center;
}

table.resultTable td {
	border: 1px solid #CFCFCF;
	padding: 1px;
	text-align: center;
	height: 50px;
}

.fixedHead {
	background-color: #0047AB;
	color: #FFFFFF;
	text-align: center;
}

table#resultSummary {
	border-collapse: collapse;
}

tr.underline td {
	border-bottom: 1px solid black;
}

tr.doubleline td {
	border-top: 1px solid black !important;
	border-bottom: 3px double black !important;
}

td.align-right {
	text-align: right;
}
